@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #30B868;
    --secondary-color: #001931;
    --text-color: #627382;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --hover-color: #469165;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
}

section {
    margin: 80px 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
}

.nav-logo img {
    width: 100px;
}

.nav-link {
    display: flex;
    gap: 30px;
}

.nav-link a {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

.access-btn {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: var(--primary-color);
    transition: background-color .3s ease;
}

.access-btn:hover {
    background-color: var(--hover-color);
}

/* @media only screen and (max-width:768px) {
    header nav {
        display: inline-block;
        position: relative;
    }

    .nav-link {
        position: absolute;
        top: 91.16px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-color);
    }

    .nav-link a {
        color: var(--white-color);
        font-size: 24px;
        padding-top: 25px;
    }

    .access-btn {
    }
} */

/* hero section */
.hero-section {
    height: 86.6vh;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86.6vh;
}

.early-access {
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.early-access p {
    font-size: 16px;
}

.hero-content h1 {
    text-align: center;
    color: var(--white-color);
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin: 18px;
}

.hero-content h1 span {
    color: var(--primary-color);
}

.hero-content p {
    text-align: center;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 25px;
}

.btn {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid var(--white-color);
    gap: 10px;
}

.btn:hover {
    background-color: #ffffff33;
}

/* note section */
.notes-content h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.notes-content p {
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 40px;
}

.note-content-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.note-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 23px;
    border-radius: 8px;
}

.note-content-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    background-color: #f95555;
}

.note-content-item h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.note-content-item p {
    font-size: 16px;
    color: var(--text-color);
    line-height: 20px;
}

/* the solution section */
.solution-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.solution-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.solution-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution-box img {
    width: 600px;
}

.solution-text {
    padding: 20px;
}

.solution-box span {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}

.solution-box h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 24px 0;
}

.solution-box p {
    font-size: 16px;
    width: 80%;
    color: var(--text-color);
}

.solution-box ul {
    margin: 24px 0;
}

.solution-box ul li {
    display: flex;
    gap: 12px;
    margin: 10px 0;
}

.solution-box ul li span {
    font-size: 16px;
    color: var(--black-color);
}

.solution-box ul li img {
    width: 16px;
    height: 16px;
}

/*  Early Access section */
.early-access-section {
    background-color: #F7F6F2;
}

.early-access-content {
    text-align: center;
    padding: 40px 0;
}

.early-access-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 24px;
}

.early-access-content p {
    font-size: 16px;
    color: var(--text-color);
    margin: 15px;
}

/* footer section */
footer {
    background-color: var(--secondary-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid var(--text-color);
}

.social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 16px;
    gap: 10px;
}

.social-link {
    display: flex;
    gap: 15px;
}

.social-link img {
    width: 20px;
    height: 20px;
}

small {
    font-size: 14px;
    text-align: center;
    color: var(--white-color);
}