@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --bg-color: #000000;
    --second-bg-color: #222222;
    --main-color: #FAFF00;
    --white-color: #fff;
}

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

/* header section */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 99;
    transition: background-color 0.3s ease;
}

nav {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: auto;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.4rem;
    z-index: 1001;
}

.nav-toggle span {
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--white-color);
    transition: all 0.3s ease;
}

.nav-link a {
    display: inline-block;
    color: var(--white-color);
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav-link a:hover {
    color: var(--main-color);
}

/* hero section */
.hero {
    padding: 0 2rem;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gym-banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 144rem;
    margin: 0 auto;
    width: 100%;
    color: var(--white-color);
}

.hero-content h1 {
    font-size: 6.4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.cta-button {
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #fbff00c7;
}

@media only screen and (max-width:768px) {
    nav {
        padding: 0 2rem;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-link {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        background-color: var(--bg-color);
        transition: right 0.3s ease;
    }

    .nav-link.active {
        right: 0;
    }

    .nav-link a {
        font-size: 3rem;
    }

    .nav-toggle.active span:nth-child(1) {
        transform: translateY(0.9rem) rotate(45deg);
    }

    .nav-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle.active span:nth-child(3) {
        transform: translateY(-0.9rem) rotate(-45deg);
    }

    .hero {
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: calc(60%);
        height: 80vh;
    }

    .hero-content h1 {
        font-size: 4rem;
    }
}

/* advantages section */
#advantages {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: var(--bg-color);
    color: var(--white-color);
}

#advantages h2 {
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.advantages-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.advantages-box {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.advantages-box img {
    width: 4rem;
}

.advantages-box h3 {
    font-size: 2.4rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.advantages-box p {
    font-size: 1.6rem;
    width: 60%;
    line-height: 1.6;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .advantages-box p {
        width: 100%;
    }

    .advantages-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    #advantages h2 {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

/* membership section */
#membership {
    background: var(--bg-color);
    padding-top: 5rem;
    padding-bottom: 15rem;
    color: var(--white-color);
}

#membership h2 {
    color: var(--white-color);
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 5rem;
}

.membership-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.membership-card {
    background-color: var(--second-bg-color);
    padding: 3rem;
    border-radius: 1.6rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
}

.membership-card:hover {
    transform: scale(1.03);
}

.membership-card h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.membership-card h4 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    padding: 1.5rem 0;
    color: var(--main-color);
}

.membership-card ul {
    margin-bottom: auto;
}

.membership-card ul li {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 1rem;
    gap: 1.6rem;
    font-size: 1.6rem;
}

.membership-card ul li img {
    width: 2rem;
    height: 2rem;
}

.membership-card button {
    font-size: 2rem;
    font-weight: 500;
    padding: .8rem 3rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .membership-content {
        grid-template-columns: repeat(2, 1fr);
    }

    #membership h2 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width:468px) {
    .membership-content {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .membership-card {
        padding: 2rem;
    }

    #membership h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

/* about section */
#about {
    background-color: var(--bg-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: var(--white-color);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.about-text h2 {
    font-size: 4.8rem;
    margin-bottom: 3rem;
}

.about-text p {
    font-size: 1.6rem;

}

.about-slider {
    width: 100%;
    position: relative;
}

.slider-content {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
}

.slider-wraper {
    display: flex;
    transition: all .5s ease;
}

.slider-wraper img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    flex-shrink: 0;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.slider-arrows {
    display: flex;
    gap: 1rem;
}

.slider-arrows button {
    position: static;
    background-color: var(--second-bg-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-indicators {
    position: static;
    transform: none;
    display: flex;
    gap: 1rem;
}

.indicator {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--second-bg-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

.indicator.active {
    background-color: var(--main-color);
}

@media only screen and (max-width:768px) {
    #about {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: var(--white-color);
    }

    .about-content {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .slider-content {
        border-radius: 1rem;
    }

    .about-text h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .slider-wraper img {
        height: 30rem;
    }
}

/* trainers section */
#trainers {
    background-color: var(--bg-color);
    color: var(--white-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

#trainers h2 {
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.trainers-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.trainers-card {
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.trainers-card:hover {
    transform: translateY(-.5rem);
}

.trainers-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.trainers-card h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.4rem 0;
}

.card-content {
    padding: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}

.social-links a {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: transparent;
    border: 2px solid var(--bg-color);
}

.social-links a img {
    width: 1.5rem;
}

@media only screen and (max-width:992px) {
    .trainers-content {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (max-width:768px) {
    .trainers-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #trainers h2 {
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
    }

    .trainers-card h3 {
        font-size: 2.5rem;
        margin: 1rem 0;
    }
}

@media only screen and (max-width:480px) {
    .trainers-content {
        grid-template-columns: 1fr;
    }
}