/* 
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/
/* Basic CSS */
body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}


/* Nav Section */
.nav-font {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.nav-font li a {
    margin-right: 15px;
}

.sign_in_btn {
    border-radius: 33px;
    width: 104px;
}

.logo_img {
    width: 180px;
}

.background_color {
    background-color: #F0FFF0;
}


/* Banner Section */
.banner {
    /* height: 576px; */
    background-color: #F0FFF0;
    padding: 50px 0;
}


.banner_text h6 {
    font-size: 16px;
    color: #FD511A;
    font-family: "Poppins", sans-serif;
}

.banner_text p {
    font-size: 16px;
    color: #6C6B6B;
    font-family: "Poppins", sans-serif;
}

.banner_text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 50px;

}

.banner_text span {
    color: #21B573;
}

.submit_btn {
    width: 153px;
    height: 43px;
    border-radius: 33px;
    color: white;
    border: none;
    background-color: #21B573;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.banner_img img {
    width: 500px;
}


/* Sub Item Section */
.item_section {
    background: #F0FFF0;
    padding: 30px 10px;
    /* margin: 20px 0; */
    border-radius: 12px;
    transition: 0.3s;
    text-align: center;
}

.item_section:hover {
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.item_section img {
    width: 55px;
    margin-bottom: 15px;
}


.item_section h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 25px;
}

.item_section p {
    color: #585859;
}

/* Online Courses Section */
#courses h1 {
    color: #413960;
    font-size: 36px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.course_part {
    padding: 8px 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    margin-bottom: 40px;
}

.course_part h3 {
    font-size: 24px;
    font-weight: 700;
}

.course_part p {
    font-size: 16px;
}

.course_part .buy_course_btn {
    padding: 8px 28px;
    background-color: #21B573;
    border-radius: 33px;
    border: none;
    color: white;
    font-size: 16px;
}

/* Testimonial Section */
#testimonial {
    margin: 100px 0;
}

.testimonial_heading h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}

.testimonial img {
    width: 120px;
    margin-right: 30px;
}

/* Footer Section */
#footer {
    background-color: #282531;
    color: white;
    padding: 25px 50px;
}

.footer h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
}

.footer li {
    list-style: none;
}

.footer li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.footer_text {
    margin-top: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    .banner_text {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer {
        text-align: start;
        font-size: 30%;
    }

    .footer p {
        text-align: center;
        padding-top: 50px;
    }

    .footer .col-md-4 {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .logo_img {
        width: 120px;
    }

    .course_part {
        width: 100%;
    }

    .item_section {
        width: 100%;
    }
}