a {
    color: inherit;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 4%;
    background: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 0 5px 20px #00000026;
}

/* logo */

.logo img {
    width: 120px;
    padding: 10px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.logo img:hover {
    border: 1px solid #fff;
}

/* nav */

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* search box */

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    width: 280px;
    height: 42px;
    padding: 0 15px;
    border: none;
    outline: none;
}

.search-all {
    font-size: 18px;
    background: #ddd;
    height: 42px;
    padding: 0 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.search-icon {
    background: #F3A847;
    width: 45px;
    height: 42px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* nav links */
.nav-link {
    display: flex;
}

.nav-link a {
    color: #fff;
    font-size: 17px;
    padding: 15px 12px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.nav-link a:hover {
    border: 1px solid #fff;
}

.nav-link .active {
    border-color: #fff;
}

/* right section */
.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* cart */
#cart-icon {
    position: relative;
    padding: 12px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

#cart-icon:hover {
    border: 1px solid #fff;
}

.cart-item-count {
    position: absolute;
    top: 9px;
    right: 12px;
    background: #e35f26;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* toggle icon */
.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1000px) {

    .search-box input {
        width: 180px;
    }

}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #131921;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 20px;
        transform: translateY(-120%);
        transition: 0.4s ease;
    }

    .nav.active {
        transform: translateY(0);
    }

    .nav-link {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }

    .nav-link a {
        width: 100%;
    }

    .search-box {
        width: 100%;
        margin: 0 auto;
    }

    .search-box input {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .logo img {
        width: 100px;
    }

    #cart-icon {
        padding: 10px;
    }
}