.product {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 25px 0;
    background-color: #fff;
    padding: 25px;
}

.img-box img {
    transition: 0.3s;
}

.img-box:hover img {
    transform: scale(1.05);
}

.product-tittle a{
    color: #000;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 16px;
}

/* .product-tittle a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
} */

.product-detail {
    display: flex;
    gap: 10px;
}

.product-detail p {
    font-size: 14px;
    color: green;
    margin: 10px 0;
}

.product-detail .price {
    font-size: 25px;
    font-weight: 500;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
    margin: 10px 0;
    
    cursor: pointer;
    background-color: #F3A847;
    transition: all 0.2s;
}

.add-to-cart:hover {
    background-color: #e69730;
}

.featues h4 {
    font-size: 18px;
    font-weight: bold;
}

.featues li {
    font-size: 15px;
    margin-left: 20px;
}

.featues li span {
    size: 18px;
    font-weight: 500;
}