.shop-container {
    padding: 0 3%;
    display: flex;
    gap: 25px;
    /* margin: 25px; */
}

.shop {
    width: 75vw;
}

.cart {
    width: 25vw;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
/* 
.cart h2 {
    font-weight: 500;
    font-size: 25px;
}

.cart-content {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cart-content .price {
    text-align: right;
} */